/*clndr*/

/*.border-global--for-clndr {
  border: 1px solid #cccccc;
  border-right: none;
  position: relative;
  margin: 0 0 0 23px;
}

.border-global--for-clndr::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  border-top: 1px solid #ccc;
  width: 99999px;
  overflow: auto
}

.border-global--for-clndr::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  border-top: 1px solid #ccc;
  width: 99999px;
  overflow: auto;
}

.header-page--clndr {
  margin: 0 10px 0 0;
  @include textStyle($color000, $font-size-30, $font-family-proximanova-bld);
}

.clndr--filters {
  margin: 0 0 23px 0;
  .filters--block {
    padding: 0 0 0 55px;
    display: flex;

    .modal-select-e-voting {
      margin: 0 0 0 10px;
      width: 282px;
    }
  }
  .link-to-meetings {
    display: flex;
    @include textStyle($color444, $font-size-17, $font-family-proximanova-regular);
    .text {
      margin: 0 0 0 12px;
      line-height: 1;
      display: inline-block;
      border-bottom: 1px solid #ccc;
    }
  }
}

.wrap-calendar-event {
  padding: 55px 0 55px 55px;
  position: relative;
  //border-left: 1px solid #ccc;
  //margin-left: 23px;
  .clndr--block {
    display: flex;
    flex-wrap: nowrap;
    min-height: 500px;
    background: #fff;
    padding: 19px 30px;
    position: relative;
  }
  .clndr__month {
    flex-basis: 50%;
    padding: 0 30px 0 0;
    border-right: 1px solid #ccc;
    display: flex;
    .month--switch {
      display: flex;
      justify-content: center;
      .back {
        margin: 0 30px 0 0;
      }
      .next {
        margin: 0 0 0 30px;
      }
    }
    .day-week--header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      .day-week__name {
        width: 50px;
        height: 30px;
        text-align: center;
        text-transform: uppercase;
        @include textStyle($color888, $font-size-13, $font-family-proximanova-bld);
      }
    }
    .day-week--block {
      display: flex;

      .dayEvent:hover {
        cursor: pointer;
      }

      .day {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 0 10px 10px 0;
        position: relative;

        .number--block {
          z-index: 10;
          position: relative;

          margin: 0 0 4px 0px;
          display: flex;
          justify-content: center;
          align-items: center;

        }
        .number {
          z-index: 10;
          position: relative;
          display: inline-block;
          line-height: 1;
          @include textStyle($color444, $font-size-18, $font-family-proximanova-regular);
        }
        .day--no-event {
          margin: 0 0 4px 0;
        }
        .number.weekend {
          @include textStyle($color888, $font-size-18, $font-family-proximanova-regular);
        }

        .selected {
          background-color: #dddddd;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          //right: 4px;
          //bottom: 10px;
          //left: 50%;
          //top: 50%;
          z-index: 1;
        }

        .active {
          display: inline-block;
          border-radius: 50%;
          height: 6px;
          width: 6px;
          background: #f34254;
          position: absolute;
          bottom: -14px;
        }

      }
    }
    .background--zero {
      background: transparent;
    }
    .year {
      text-align: center;
      line-height: 1;
      @include textStyle($color444, $font-size-13, $font-family-proximanova-bld);
    }
    .month {
      line-height: 1;
      text-transform: uppercase;
      @include textStyle($color444, $font-size-15, $font-family-proximanova-bld);
    }
  }
  .clndr__day-event {
    flex-basis: 50%;
    padding: 0 0 0 30px;
    .header--block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
      margin: 0 0 30px 0;
    }
    .day-month {
      @include textStyle($color000, $font-size-15, $font-family-proximanova-bld);
    }
    .name-day-week {
      text-transform: uppercase;
      @include textStyle($color888, $font-size-13, $font-family-proximanova-bld);
    }

    .list-event {
      .list-event--item {
        margin: 0 0 30px 0;
      }
      .time {
        @include textStyle($color888, $font-size-13, $font-family-proximanova-regular);
      }
      .link-meeting {
        @include textStyle($color444, $font-size-15, $font-family-proximanova-regular);
      }
    }

    .no-records {
      line-height: 1;
      @include textStyle($color444, $font-size-15, $font-family-proximanova-regular);
    }
  }
}

.meetings--extra-vote {
  padding: 55px 0 55px 0;
  position: relative;
  //border-left: none;
  //margin: 0;
  .header {
    @include textStyle($color444, $font-size-16, $font-family-proximanova-bld);
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ccc;
  }

  .item-meeting {
    margin: 0 0 30px 0;
  }
  .item-meeting:last-child {
    margin: 0;
  }
  .link-meeting {
    @include textStyle($color888, $font-size-15, $font-family-proximanova-regular);
  }
  .date {
    @include textStyle($color444, $font-size-13, $font-family-proximanova-bld);
  }
}*/

/*clndr*/
.day-week--header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
    }
 .day-week__name {
        width: 50px;
        height: 30px;
        text-align: center;
        text-transform: uppercase;
      }

    .day-week--block {
      display: flex;
    }

.dayEvent:hover {
        cursor: pointer;
      }

      .day {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 0 10px 10px 0;
        position: relative;
box-sizing: border-box;
        border: 1px solid #ccc;

      }
.day:hover {
    cursor: pointer;
}
    .number--block {
          z-index: 10;
          position: relative;

          margin: 0 0 4px 0px;
          display: flex;
          justify-content: center;
          align-items: center;

        }
        .number {
          z-index: 10;
          position: relative;
          display: inline-block;
          line-height: 1;
        }
        .day--no-event {
          margin: 0 0 4px 0;
        }
        .number.weekend {
        }

        .selected {
          background-color: #dddddd;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          z-index: 1;
        }

        .active {
          display: inline-block;
          border-radius: 50%;
          height: 6px;
          width: 6px;
          background: #f34254;
          position: absolute;
          bottom: -14px;
        }

        .background--zero {
      background: transparent;
    }