<div style="display: flex;">
  <div style="flex-basis: 50%;">
    <div style="width: 350px;">
      <div class="day-week--header">
        <ng-template ngFor let-day [ngForOf]="dayWeekRus">
          <div class="day-week__name">{{ day }}</div>
        </ng-template>
      </div>
      <div *ngFor="let item of arrMonths.arrFormat" class="day-week--block">
        <div *ngFor="let i of item; let ind = index;">
          <div>
            <div class="day">
              <!--[class.background&#45;&#45;zero]="i === 0"-->
              <ng-template [ngIf]="i!=0">
                <div class="day--month" (click)="onSelectDay(i)">
                  <ng-template [ngIf]="getCountDay(i)">
                    <div class="dayEvent">
                      <div class="number--block" [class.weekend]="weekendDayStyle(ind)">
                        <div [class.selected]="i === selectedDay"></div>
                        <span class="number">{{i.id}}</span>
                        <div class="active"></div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template [ngIf]="!getCountDay(i)">
                    <div>
                      <div class="number day--no-event" [class.weekend]="weekendDayStyle(ind)">{{i.id}}
                      </div>
                    </div>
                  </ng-template>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="flex-basis: 50%;">
    <app-dinamic [componentData]="componentData"></app-dinamic>
  </div>
</div>
